img {
    max-width: 100%;
    height: auto;
}

#unity-container { 
    position: absolute; 
    width: 100%; 
    height: 100% 
}

#unity-canvas { 
    background: #231F20; 
    width: 100%; 
    height: 100% 
}
